@use 'sass:math';

.card {
  display: block;
  padding: $default-padding;
  border: $default_border-thickness solid #ddd;
  border-radius: math.div($default-border-radius, 4);

  .card-title {
    font-size: $font-size-sm;
    padding-bottom: $default-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: $default-font-size;

    a {
      text-decoration: underline;
    }
  }
}
