@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.color-primary {
  color: $primary;
}

.color-success {
  color: $success;
}

.color-danger {
  color: $danger;
}

.color-warning {
  color: $warning;
}