$primary: #3b82f6 !default;
$secondary: #8b5cf6 !default;
$success: #34d399 !default;
$danger: #ef4444 !default;
$warning: #f97316 !default;
$dark: rgb(17, 17, 17) !default;
$light: #f4f4f4 !default;
$black: #000 !default;
$white: #fff !default;

$colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "dark": $dark,
        "light": $light,
        "black": black,
        "white": white
);

$default-padding: 0.75rem !default;
$default-margin: 0.75rem !default;

$default-border-thickness: 1px !default;
$default-border-radius: 20px !default;

$default-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

$default-font-size: 1rem !default;
$font-size-xs: $default-font-size * 0.75 !default;
$font-size-sm: $default-font-size * 1.5 !default;
$font-size-md: $default-font-size * 2 !default;
$font-size-lg: $default-font-size * 3 !default;
